.container {
  position: relative;
  width: 100%;
  height: 450px;
  box-sizing: border-box;

  .containerBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .containerBannerInfos {
    box-sizing: border-box;
    height: 450px;
    position: relative;
    z-index: 2;
    padding: 20px var(--padding-LR);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text1);

    .containerProfile {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;

      .profilePhoto {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: absolute;
        transition: all 1s;
      }
      .primary {
        z-index: 4;
        opacity: 100%;
      }
      .secondary {
        z-index: 3;
        opacity: 100%;
        clip-path: circle(50%);
      }
      .background {
        z-index: 2;
        background: radial-gradient(
          circle,
          rgba(189, 189, 189, 1) 35%,
          rgba(189, 189, 189, 0.8603816526610644) 100%
        );
      }
      .primary:hover {
        opacity: 0%;
      }
      .primary:hover ~ .secondary {
        scale: 120%;
        box-shadow: 0px 0px 5px 30px var(--color-text2);
      }
      .primary:hover ~ .background {
        scale: 140%;
      }
    }

    .containerInfos {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--padding-LR);

      h2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.1875rem;
      }
    }
  }
}
