.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  .containerBackground {
    width: 100%;

    video {
      width: 100%;
    }
  }
  .containerBannerInfos {
    position: absolute;
    width: 100%;

    .containerProfile {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}
